.developers {
  text-align: center;
}

.developers > div {
  display: inline-block;
  margin: 0 10px;
}

#photos-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ReneImage,
.HunterImage,
.EveImage {
  background-color: #e0e0e0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
}

.ReneImage img,
.HunterImage img,
.EveImage img {
  max-width: 100%;
  border-radius: 50%;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-top: 0;
}

.SomethingAbout {
  margin-top: 50px;
}

.image-size {
  height: 380px;
  width: 371px;
  margin-top: 300px;
  margin-bottom: 100px
}

Figure.Image{
 height:200;
 width: 200 
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");